@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

body{
  width: 100vw;
  height: 100vh;
  background-color: hsl(30, 38%, 92%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

section{
  width: 650px;
  display: flex;
  background-color: #ffffff;
  border-radius: 8px;
}

.card__image{
  width: 50%;
  height: auto;
  border-radius: 8px 0 0 8px;
}

.card__content{
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px 32px;
}

.card__category{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.card__title {
  width: 90%;
  font-family: 'fraunces', serif;
  font-size: 32px;
  color: hsl(212, 21%, 14%);
  line-height: 1;
}

.card__description{
  font-size: 16px;
  line-height: 1.5;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.card__price{
  display: flex;
  gap: 16px;
  align-items: center;
}

.card__discount{
  font-family: 'fraunces', serif;
  font-size: 32px;
  color: hsl(158, 36%, 37%);
  font-weight: 700;
}

.card__original{
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
}

.card__button{
  font-family: 'montserrat', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 8px;
  align-items: center;
  padding: 12px 0;
  border: 1px solid hsl(158, 36%, 37%);
  background-color: hsl(158, 36%, 37%);
  border-radius: 8px;
  color: hsl(0, 0%, 100%);
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}

.card__button:hover{
  background-color: hsla(158, 92%, 19%, 0.833);
}

footer{
  position: absolute;
  bottom: 0;
  padding: 16px;
}

a{
  color: hsl(228, 12%, 48%);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  section{
    width: 95%;
    height: 85%;
    max-height: 650px;
    max-width: 350px;
    display: flex;
    flex-direction: column;
  }

  .card__image{
    width: 100%;
    height: 40%;
    border-radius: 8px 8px 0 0;
  }

  .card__content{
    width: 100%;
    height: 60%;
    padding: 24px;
  }

  .card__title{
    width: 100%;
  }
  

  
  footer{
    display: none;
  }
}